.quick-navigation-menu {
    all: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1.875rem;
    margin: 2.5rem 0;
}

.quick-navigation-menu__link {
    all: unset;
    width: 16.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    gap: 2rem;
}

.quick-navigation-menu__heading {
    all: unset;
    font-weight: 800;
    font-size: 1.5rem;
    flex-grow: 1;
}

.quick-navigation-menu__description {
    all: unset;
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: start;
    flex-grow: 2;
}
