{{ $input := . }}


<ul class="header-menu" role="menubar">
    <li role="none">
        <a
            {{- if $input.context.IsHome }}
                class="header-menu__link header-menu__link--active"
            {{- else }}
                class="header-menu__link"
            {{- end }}
            href="{{ site.Home.RelPermalink }}"
            role="menuitem">
            {{ $input.homeLabel | default "Home" }}
        </a>
    </li>

    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
        <li role="none">
            <a
                href="{{ .URL }}"
                {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
                    class="header-menu__link header-menu__link--active" aria-current="page"
                {{- else }}
                    class="header-menu__link"
                {{- end }}
                role="menuitem">
                {{- or (T (printf "menu.%s" .Identifier)) .Name }}
            </a>
        </li>
    {{- end }}
</ul>
