{{ $input := . }}


<menu class="secondary-menu" role="menu">
    {{- $firstFour := first 4 $input.menu }}
    {{- range $item := $firstFour }}
        <li role="presentation">
            {{- $title :=  or (T (printf "menu.%s" $item.Identifier)) $item.Name }}
            <a
                class="menu-item__link"
                href="{{- $item.URL }}"
                role="menuitem"
                aria-label="{{ $title }}"
                aria-details="{{- $item.Params.description | plainify }}">
                <h1 class="heading heading--3 heading--embedded">{{- $title }}</h1>
                <div class="secondary-menu__description">
                    <p class="paragraph paragraph-embedded">
                        {{- $item.Params.description | markdownify }}
                    </p>
                </div>
                {{- partial "graphics/vector.html" -}}
            </a>
        </li>
    {{- end }}
</menu>
