{{ $input := . }}


<menu class="sidebar-menu">
    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
        <li role="presentation" class="sidebar-menu__item">
            <a
                role="menuitem"
                href="{{ .URL }}"
                {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
                    class="sidebar-menu__link sidebar-menu__link--active"
                {{- else }}
                    class="sidebar-menu__link"
                {{- end }}>
                {{- or (T (printf "menu.%s" .Identifier)) .Name }}
            </a>
        </li>
    {{- end }}
</menu>
