{{ $input := . }}


<ul class="sidebar-menu">
    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
        <li class="sidebar-menu__item">
            <a
                href="{{ .URL }}"
                {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
                    class="sidebar-menu__link sidebar-menu__link--active" aria-current="page"
                {{- else }}
                    class="sidebar-menu__link"
                {{- end }}
                aria-label="{{- or (T (printf " menu.%s" .Identifier)) .Name }}">
                {{- or (T (printf "menu.%s" .Identifier)) .Name | safeHTML }}
            </a>
        </li>
    {{- end }}
</ul>
