.footer-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2.5rem;
}

.footer-menu__link {
    font-weight: 500;
    color: var(--color-secondary-darker);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer-menu__link:hover {
    color: var(--color-primary-darkest);
}
