.about {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.about__text {
    max-width: 48.125rem;
    font-size: 1rem;
    line-height: 1.5;
}

.about__organizers-menu {
    all: unset;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.875rem;
    margin-bottom: 3.75rem;
}
