{{ define "main" }}
  {{ $event := .Site.Params.themes.event }}


  <section class="location">
    <div class="section">
      <h1 class="heading heading--1">
        {{- T "miscellaneous_location_title" }}
      </h1>

      {{ if $event.address }}
        {{ range $event.address }}
          <p class="location__address-line">{{ . }}</p>
        {{- end }}
      {{ end }}


      <div>
        {{ if $event.directions }}
          {{- partial "directions-card.html"
            (dict
            "locationImg" $event.images.locationImage
            "locationImgAlt" $event.location
            "directions" $event.directions
            )
          }}
        {{- end }}
      </div>
    </div>
  </section>

  {{- partial "partials/map-embedding.html" (
    dict
    "embeddableMapUrl" $event.map.embeddableMapUrl
    "viewLargerMapUrl" $event.map.viewLargerMapUrl
    )
  }}

  {{- partial "sections/cta.html" (
    dict
    "eventbriteId" $event.callToAction.eventbrite.eventId
    "ctaUrl" $event.callToAction.other.url
    )
  }}
{{- end }}
