{{ define "main" }}
    {{ $event := .Site.Params.themes.event }}


    <div class="section-container">
        <section class="section">
            <h1 class="heading heading--1">
                {{- T "location_page.heading" }}
            </h1>

            {{ with $event.address }}
                <address class="location__address">
                    {{ range $event.address }}
                        {{ . | markdownify }}
                        <br />
                    {{ end }}
                </address>
            {{ end }}

            {{ if $event.directions }}
                {{- partial "directions-card.html"
                    (dict
                    "locationImg" $event.images.location
                    "locationImgAlt" $event.location
                    "directions" $event.directions
                    )
                }}
            {{- end }}
        </section>
    </div>

    {{- partial "map-embedding.html" (
        dict
        "embeddableMapUrl" $event.map.embeddableMapUrl
        "viewLargerMapUrl" $event.map.viewLargerMapUrl
        )
    }}

    {{- partial "sections/cta.html" (
        dict
        "eventbriteId" $event.callToAction.eventbrite.eventId
        "ctaUrl" $event.callToAction.other.url
        )
    }}
{{- end }}
