{{ $input := . }}


<div class="section-container section-container--highlighted">
    <section class="section section--long cta-section">
        <h1 class="cta-section__heading">{{ T "cta_section.heading" }}</h1>

        <h2 class="cta-section__subheading">{{ T "cta_section.subheading" }}</h2>

        <p class="cta-section__message">{{ T "cta_section.message" }}</p>

        {{- partial "cta/button.html" (dict "eventbriteId" $input.eventbriteId "ctaUrl" $input.ctaUrl "buttonClass" "button--scaled") }}
    </section>
</div>
