{{ $input := . }}


<section
    class="event-title-section"
    {{- with resources.Get $input.backgroundImage }}
        style="background-image: url('{{ .RelPermalink }}');"
    {{ end }}>
    <div class="event-title-section__header">
        <h1 class="event-title-section__heading">
            {{- $input.title }}
        </h1>
        <h2 class="event-title-section__subheading">
            {{- with $input.startDate }}
                {{- . | time.AsTime | time.Format ":date_long" }},
            {{- end }}
            {{ $input.location }}
        </h2>
    </div>

    <div class="event-title-section__footer">
        {{- if $input.startDate }}
            {{ partial "countdown.html" (dict "targetDate" $input.startDate) }}
        {{- end }}

        {{- partial "cta/button.html" (dict "eventbriteId" $input.eventbriteId "ctaUrl" $input.ctaUrl) }}
    </div>
</section>
