{{ $input := . }}


<div class="section-container">
    <section class="section section--long event-highlights-section">
        <header class="event-highlights-section__header">
            {{- with resources.Get $input.logo }}
                <img
                    class="event-highlights-section__logo"
                    src="{{ .RelPermalink }}"
                    {{ if not (eq .MediaType.SubType "svg") }}
                        width="{{ .Width }}" height="{{ .Height }}"
                    {{ end }} />
            {{ end }}
            <article class="event-highlights-section__description">
                <h1 class="heading heading--highlighted">
                    {{ $input.title }}
                </h1>
                <h2 class="heading heading--2">
                    {{ $input.subtitle }}
                </h2>

                <p class="paragraph event-highlights-section__paragraph">{{ $input.description | markdownify }}</p>
            </article>
        </header>

        <article class="event-highlights-section__figures">
            {{- if $input.numberOfSpeakers }}
                {{ partial "highlight-figure.html" (
                    dict
                    "icon" "icons/speaker.svg"
                    "caption" (T "event_highlights_section.number_of_speakers" $input.numberOfSpeakers)
                    )
                }}
            {{- end }}
            {{- if $input.numberOfSessions }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/session.svg"
                    "caption" (T "event_highlights_section.number_of_sessions" $input.numberOfSessions)
                    )
                }}
            {{- end }}
            {{- if $input.numberOfDays }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/calendar.svg"
                    "caption" (T "event_highlights_section.number_of_days" $input.numberOfDays)
                    )
                }}
            {{- end }}
            {{- if $input.location }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/location.svg"
                    "caption" $input.location
                    )
                }}
            {{- end }}
        </article>
    </section>
</div>
