{{ $input := . }}


<div class="section-container">
    <section class="section section--long featured-speakers">
        <h1 class="heading heading--highlighted heading--centered">
            {{ T "featured_speakers_section.heading" }}
        </h1>
        <h2 class="heading heading--2 heading--centered">
            {{ T "featured_speakers_section.subheading" }}
        </h2>
        <menu
            class="featured-speakers__menu"
            role="menu"
            {{- with (T "featured_speakers_section.heading") }}
                aria-label="{{ . }}"
            {{- end }}>
            {{- range $input.speakers }}
                <li role="presentation">
                    {{- partial "speaker-card.html" (
                        dict
                        "profileUrl" .profileUrl
                        "avatarResource" .avatarResource
                        "name" .name
                        "description" .description
                        "linkedinUrl" .linkedinUrl
                        "xUrl" .xUrl
                        "companyUrl" .companyUrl
                        )
                    }}
                </li>
            {{- end }}
        </menu>

        {{- with $input.speakersUrl }}
            <a href="{{ . }}" class="button button--outlined">
                {{ T "featured_speakers_section.action" }}
            </a>
        {{- end }}
    </section>
</div>
