{{ $input := . }}


<div class="section-container">
    <section
        class="section section--long featured-speakers"
        {{ with T "featured_speakers_section.heading" }}
            aria-label="{{ . }}"
        {{ end }}>
        <h1 class="heading heading--highlighted heading--centered">
            {{ T "featured_speakers_section.heading" }}
        </h1>
        <h2 class="heading heading--2 heading--centered">
            {{ T "featured_speakers_section.subheading" }}
        </h2>
        <ul
            class="featured-speakers__menu"
            {{- with (T "featured_speakers_section.heading") }}
                aria-label="{{ . }}"
            {{- end }}>
            {{- range $index, $speaker := $input.speakers }}
                <li aria-label="{{ $speaker.name }}">
                    {{- partial "speaker-card.html" (
                        dict
                        "profileUrl" $speaker.profileUrl
                        "avatarResource" $speaker.avatarResource
                        "name" $speaker.name
                        "description" $speaker.description
                        "linkedinUrl" $speaker.linkedinUrl
                        "xUrl" $speaker.xUrl
                        "companyUrl" $speaker.companyUrl
                        )
                    }}
                </li>
            {{- end }}
        </ul>

        {{- with $input.speakersUrl }}
            <a href="{{ . }}" class="button button--outlined">
                {{ T "featured_speakers_section.action" }}
            </a>
        {{- end }}
    </section>
</div>
