{{ $input := . }}


<div class="section-container section-container--dimmed">
    <section class="section section--sort">
        <menu class="quick-navigation-menu">
            {{- $quickNavItems := where $input.menu "Params.showAsQuickNavigation" true }}
            {{- $firstFour := first 4 $quickNavItems }}
            {{- range $item := $firstFour }}
                <li>
                    <a class="quick-navigation-menu__link" href="{{- $item.URL }}">
                        <h1 class="quick-navigation-menu__heading">
                            {{- or (T (printf "menu_%s" $item.Identifier)) $item.Name }}
                        </h1>
                        <p class="quick-navigation-menu__description">
                            {{- $item.Params.description | markdownify }}
                        </p>
                        {{- partial "graphics/vector.html" -}}
                    </a>
                </li>
            {{- end }}
        </menu>
    </section>
</div>
