.session-day-section__hour-heading {
    margin: 1.875rem 0;
}

.session-day-section__session-menu {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.session-list-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session-list-filter {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.session-list-filter__heading {
    font-weight: 600;
    font-size: 1.125rem;
}

.session-list-filter__menu {
    all: unset;
    list-style: none;
    display: flex;
    gap: 1.875rem;
}

.session-list-filter__label {
    all: unset;
    cursor: pointer;
    padding: 0.75rem 1.75rem;
    gap: 0.625rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
}

.session-filter-input {
    display: none;
}

/* Hide sessions of other days than the one currently selected. */
[value='day-0'].session-filter-input:checked ~ * .session-day-section:not([data-day='0']),
[value='day-1'].session-filter-input:checked ~ * .session-day-section:not([data-day='1']),
[value='day-2'].session-filter-input:checked ~ * .session-day-section:not([data-day='2']),
[value='day-3'].session-filter-input:checked ~ * .session-day-section:not([data-day='3']),
[value='day-4'].session-filter-input:checked ~ * .session-day-section:not([data-day='4']),
[value='day-5'].session-filter-input:checked ~ * .session-day-section:not([data-day='5']),
[value='day-6'].session-filter-input:checked ~ * .session-day-section:not([data-day='6']),
[value='day-7'].session-filter-input:checked ~ * .session-day-section:not([data-day='7']),
[value='day-8'].session-filter-input:checked ~ * .session-day-section:not([data-day='8']),
[value='day-9'].session-filter-input:checked ~ * .session-day-section:not([data-day='9']) {
    display: none;
}

/* Highlight label of currently selected day filter. */
[value='day-0'].session-filter-input:checked ~ * [for='filter-day-0'],
[value='day-1'].session-filter-input:checked ~ * [for='filter-day-1'],
[value='day-2'].session-filter-input:checked ~ * [for='filter-day-2'],
[value='day-3'].session-filter-input:checked ~ * [for='filter-day-3'],
[value='day-4'].session-filter-input:checked ~ * [for='filter-day-4'],
[value='day-5'].session-filter-input:checked ~ * [for='filter-day-5'],
[value='day-6'].session-filter-input:checked ~ * [for='filter-day-6'],
[value='day-7'].session-filter-input:checked ~ * [for='filter-day-7'],
[value='day-8'].session-filter-input:checked ~ * [for='filter-day-8'],
[value='day-9'].session-filter-input:checked ~ * [for='filter-day-9'] {
    background-color: var(--color-primary-lighter);
    color: white;
}

/* Hide sessions of not selected tracks. */
[value='track-0'].session-filter-input:not(:checked) ~ * [data-track='0'],
[value='track-1'].session-filter-input:not(:checked) ~ * [data-track='1'],
[value='track-2'].session-filter-input:not(:checked) ~ * [data-track='2'],
[value='track-3'].session-filter-input:not(:checked) ~ * [data-track='3'],
[value='track-4'].session-filter-input:not(:checked) ~ * [data-track='4'],
[value='track-5'].session-filter-input:not(:checked) ~ * [data-track='5'],
[value='track-6'].session-filter-input:not(:checked) ~ * [data-track='6'],
[value='track-7'].session-filter-input:not(:checked) ~ * [data-track='7'],
[value='track-8'].session-filter-input:not(:checked) ~ * [data-track='8'],
[value='track-9'].session-filter-input:not(:checked) ~ * [data-track='9'] {
    display: none;
}

/* Highlight label of selected track filter. */
[value='track-0'].session-filter-input:checked ~ * [for='filter-track-0'],
[value='track-1'].session-filter-input:checked ~ * [for='filter-track-1'],
[value='track-2'].session-filter-input:checked ~ * [for='filter-track-2'],
[value='track-3'].session-filter-input:checked ~ * [for='filter-track-3'],
[value='track-4'].session-filter-input:checked ~ * [for='filter-track-4'],
[value='track-5'].session-filter-input:checked ~ * [for='filter-track-5'],
[value='track-6'].session-filter-input:checked ~ * [for='filter-track-6'],
[value='track-7'].session-filter-input:checked ~ * [for='filter-track-7'],
[value='track-8'].session-filter-input:checked ~ * [for='filter-track-8'],
[value='track-9'].session-filter-input:checked ~ * [for='filter-track-9'] {
    background-color: var(--color-primary-lighter);
    color: white;
}
