{{ $input := . }}


<style>
  #menuToggle {
    display: none;
  }

  #menuToggle:checked ~ aside.sidebar {
    display: block;
  }

  nav.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.625rem 0;
  }

  nav.main[data-menu-mode="sidebar"] {
    padding: 1.365rem 0;
  }

  nav.main[data-menu-mode="sidebar"] > button {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 12px 28px;
  }

  nav.main > label {
    padding-right: 1.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  nav.main[data-menu-mode="header"] > label {
    display: none;
  }

  nav.main menu {
    display: flex;
    flex-grow: 1;
    gap: 2.5rem;
    list-style: none;
    overflow-x: hidden;
  }

  nav.main[data-menu-mode="sidebar"] menu > li:not(.home-page-link) {
    display: none;
  }

  nav.main menu a {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-wrap: nowrap;

    color: var(--color-secondary-darker);

    &.active {
      color: var(--color-primary-darkest);
    }
    &:hover {
      color: var(--color-primary-darkest);
    }
  }

  nav.main[data-menu-mode="sidebar"] menu a {
    color: var(--color-primary-darkest);
    text-wrap: wrap;
  }
</style>

<input type="checkbox" id="menuToggle" />

<nav id="mainNavigation" class="main" data-menu-mode="header">
  <label for="menuToggle">
    {{- partial "elements/hamburger-menu.html" }}
  </label>
  <menu id="mainMenuHeader">
    <li class="home-page-link">
      <a
        {{- if $input.context.IsHome }}
          class="active"
        {{- end }}
        href="{{ site.Home.Permalink }}"
      >
        {{ $input.homeLabel | default "Home" }}
      </a>
    </li>

    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
      <li>
        <a
          href="{{ .URL }}"
          {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
            class="active"
          {{- end }}
        >
          {{- or (T (printf "menu_%s" .Identifier)) .Name }}
        </a>
      </li>
    {{- end }}
  </menu>

  {{- partial "cta/button.html" (dict "eventbriteId" $input.eventbriteId "ctaUrl" $input.ctaUrl) }}

</nav>

<style>
  aside.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
  }

  aside.sidebar a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }
</style>

<aside class="sidebar">
  <label for="menuToggle">
    {{- partial "elements/close-menu.html" }}
  </label>
  <nav>
    <menu>
      {{- $currentNode := $input.context }}
      {{- range $input.menu }}
        <li>
          <a
            href="{{ .URL }}"
            {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
              class="active"
            {{- end }}
          >
            {{- or (T (printf "menu_%s" .Identifier)) .Name }}
          </a>
        </li>
      {{- end }}
    </menu>
  </nav>
</aside>

<script>
  function checkWhichMenuToUse() {
    mainNavigation.setAttribute("data-menu-mode", "header");
    if (mainMenuHeader.scrollWidth > mainMenuHeader.clientWidth) {
      mainNavigation.setAttribute("data-menu-mode", "sidebar");
    }
  }

  const bodyElement = document.querySelector("body");
  new ResizeObserver(checkWhichMenuToUse).observe(bodyElement);
</script>
