@property --color-primary-lighter {
  syntax: "<color>";
  inherits: true;
  initial-value: #d7fb4d;
}

@property --color-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #c6eb4d;
}

@property --color-primary-darker {
  syntax: "<color>";
  inherits: true;
  initial-value: #015a57;
}

@property --color-primary-darkest {
  syntax: "<color>";
  inherits: true;
  initial-value: #111928;
}

@property --color-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #f7f8fa;
}

@property --color-secondary-darker {
  syntax: "<color>";
  inherits: true;
  initial-value: #637381;
}

@property --color-track {
  syntax: "<color>";
  inherits: true;
  initial-value: #015a57;
}

@property --color-shadow {
  syntax: "<color>";
  inherits: true;
  initial-value: #a6afc366;
}

:root {
  font-family: "Inter";
  color: var(--color-primary-darkest);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex-grow: 1;
}

.theme-content {
  width: 100%;
  margin: 0 2rem;
}

@media only screen and (min-width: 1200px) {
  .theme-content {
    width: 1171px;
  }
}

section.theme-section-home {
  padding: 5rem 0;
}

h1.theme-section-home,
h2.theme-section-home {
  all: unset;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75rem;
}

h1.theme-section-home {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--color-primary);
}

h2.theme-section-home {
  font-weight: 700;
  font-size: 2.25rem;
  width: 100%;
}
