@property --color-primary-lighter {
    syntax: '<color>';
    inherits: true;
    initial-value: #d7fb4d;
}

@property --color-primary {
    syntax: '<color>';
    inherits: true;
    initial-value: #c6eb4d;
}

@property --color-primary-darker {
    syntax: '<color>';
    inherits: true;
    initial-value: #015a57;
}

@property --color-primary-darkest {
    syntax: '<color>';
    inherits: true;
    initial-value: #111928;
}

@property --color-secondary {
    syntax: '<color>';
    inherits: true;
    initial-value: #f7f8fa;
}

@property --color-secondary-darker {
    syntax: '<color>';
    inherits: true;
    initial-value: #637381;
}

@property --color-track {
    syntax: '<color>';
    inherits: true;
    initial-value: #015a57;
}

@property --color-shadow {
    syntax: '<color>';
    inherits: true;
    initial-value: #a6afc366;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: 'Inter';
    color: var(--color-primary-darkest);
}

/* A full-width styling container with a centered content area. */
.section-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* An attention-capturing section container. */
.section-container--highlighted {
    background-color: var(--color-primary);
    color: white;
}

/* An non-attention-capturing section container. */
.section-container--dimmed {
    background-color: var(--color-secondary);
}

.section {
    width: 100%;
    padding: 3.125rem 2rem;
    box-sizing: border-box;
}

@media (width > 1250px) {
    .section {
        width: 1250px;
    }
}

@media (width <= 576px) {
    .section {
        padding: 1rem;
    }
}

.section--long {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (width <= 576px) {
    .section--long {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
}

.section--short {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}

@media (width <= 576px) {
    .section--short {
        padding-top: 1.375rem;
        padding-bottom: 1.375rem;
    }
}

/**
 * .sr-only
 *
 * Purpose:
 * The .sr-only class is designed to hide elements visually while keeping them accessible to screen readers.
 * This ensures that additional content or context can be provided to users with assistive technologies
 * without disrupting the visual design of the page.
 *
 * Usage:
 * - Apply this class to elements that should only be accessible via screen readers, such as additional
 *   descriptions, instructions, or labels meant for assistive technology users.
 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
