{{ $input := . }}


<time class="counter" datetime="{{ $input.targetDate }}" style="display: none;">
    <div class="counter__segment">
        <span class="counter__value" id="countdown-days"></span>
        <span class="counter__label">{{ T "countdown.days" }}</span>
    </div>
    <div class="counter__segment">
        <span class="counter__value" id="countdown-hours"></span>
        <span class="counter__label">{{ T "countdown.hours" }}</span>
    </div>
    <div class="counter__segment">
        <span class="counter__value" id="countdown-minutes"></span>
        <span class="counter__label">{{ T "countdown.minutes" }}</span>
    </div>
    <div class="counter__segment">
        <span class="counter__value" id="countdown-seconds"></span>
        <span class="counter__label">{{ T "countdown.seconds" }}</span>
    </div>
</time>

<script>
  // Display the counter only if JavaScript is enabled.
  for (const element of document.getElementsByClassName("counter")) {
    element.style.display = "inherit";
  }

  const SECOND_IN_MILLISECONDS = 1000;
  const MINUTE_IN_MILLISECONDS = SECOND_IN_MILLISECONDS * 60;
  const HOUR_IN_MILLISECONDS = MINUTE_IN_MILLISECONDS * 60;
  const DAY_IN_MILLISECONDS = HOUR_IN_MILLISECONDS * 24;

  const daysElement = document.getElementById("countdown-days");
  const hoursElement = document.getElementById("countdown-hours");
  const minutesElement = document.getElementById("countdown-minutes");
  const secondsElement = document.getElementById("countdown-seconds");

  if (!daysElement || !hoursElement || !minutesElement || !secondsElement) {
    throw Error("Countdown elements not found.");
  }

  const end = new Date("{{ $input.targetDate }}");
  let timer;

  function renderCounter() {
    const now = new Date();
    let distance = end - now;
    if (distance < 0) {
      distance = 0;
      clearInterval(timer);
    }

    const days = Math.floor(distance / DAY_IN_MILLISECONDS);
    const hours = Math.floor(
            (distance % DAY_IN_MILLISECONDS) / HOUR_IN_MILLISECONDS
    );
    const minutes = Math.floor(
            (distance % HOUR_IN_MILLISECONDS) / MINUTE_IN_MILLISECONDS
    );
    const seconds = Math.floor(
            (distance % MINUTE_IN_MILLISECONDS) / SECOND_IN_MILLISECONDS
    );

    daysElement.innerHTML = days.toString();
    hoursElement.innerHTML = hours.toString();
    minutesElement.innerHTML = minutes.toString();
    secondsElement.innerHTML = seconds.toString();
  }

  renderCounter();
  timer = setInterval(renderCounter, 1000);
</script>
