{{ $input := . }}
{{ $image := resources.Get $input.locationImg }}


<div class="directions-card">
    <div class="directions-card__image">
        {{- partial "shaped-image.html" (
            dict
            "imageResource" $image
            "imageAlt" $input.locationImgAlt
            )
        }}
    </div>
    <article class="directions-card__description">
        <h2 class="heading heading--2">{{ T "location_page.directions_heading" }}</h2>
        <div class="markdown">{{ $input.directions | markdownify }}</div>
    </article>
</div>
