{{ $input := . }}
<style>
  article.event-row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    border-radius: 0.75rem;
    border: 0.125rem solid var(--color-primary);
  }

  article.event-row > a {
    all: unset;
    width: 100%;
    padding: 1.25rem;
    cursor: pointer;
    display: flex;
  }

  article.event-row > a.service-session {
    cursor: unset;
  }

  article.event-row > a > h1 {
    width: 14.1875rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-track);
  }

  article.event-row > a > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
  }

  article.event-row > a > div > h2 {
    all: unset;
    font-size: 1.125rem;
    font-weight: 600;
  }

  article.event-row > a > div > h3 {
    all: unset;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secondary-darker);
  }

  article.event-row ul.speaker-avatars {
    all: unset;
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;
  }

  article.event-row ul.speaker-avatars img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
</style>

<article class="event-row">
  {{- if $input.isServiceSession }}
    <a class="service-session">
      <h1></h1>
      <div>
        <h2>{{- $input.title }}</h2>
      </div>
    </a>
  {{- else }}
    <a href="{{- $input.link }}">
      <h1>#{{- $input.track }}</h1>
      <div>
        <h2>{{- $input.title }} @ {{ $input.room }}</h2>
        <h3>
          {{- range $input.speakers }}
            {{- .name }}
          {{- end }}
        </h3>
      </div>
      <article>
        <ul class="speaker-avatars">
          {{- range $input.speakers }}
            {{- $speaker := . }}
            {{- with $speaker.avatarResource }}
              <li>
                <img src="{{ .RelPermalink }}" alt="{{ $speaker.name }}" />
              </li>
            {{ end }}
          {{- end }}
        </ul>
      </article>
    </a>
  {{- end }}
</article>
