{{ $input := . }}


<menu class="sessions-menu">
    {{ range $input.sessions }}
        <li role="presentation">
            <a class="menu-item__link" href="{{- .sessionUrl }}">
                <h1 class="sessions-menu__heading">{{- .title }}</h1>
                <div>
                    <div class="sessions-menu__time">
                        {{- if .isScheduled }}
                            {{- partial "elements/date-and-time.html" (dict "date" .startsAt) }}
                        {{- end }}
                    </div>
                    <div class="sessions-menu__track">
                        {{- partial "elements/hashtag.html" (dict "hashtag" .track) }}
                    </div>
                </div>
                <div class="menu-item__icon">
                    {{- partial "graphics/vector.html" -}}
                </div>
            </a>
        </li>
    {{ end }}
</menu>
