{{ $input := . }}


<menu class="social-links" role="menu" aria-label="Social Media Links">
    {{- if $input.linkedinUrl }}
        <li role="presentation" class="social-links__menu-item">
            <a
                href="{{- $input.linkedinUrl }}"
                role="menuitem"
                aria-label="LinkedIn"
                rel="external"
                class="social-links__link {{ $input.linkClass }}">
                {{- partial "graphics/social/linkedin.html" }}
            </a>
        </li>
    {{ end }}

    {{- if $input.xUrl }}
        <li role="presentation" class="social-links__menu-item">
            <a
                href="{{- $input.xUrl }}"
                role="menuitem"
                aria-label="X (Twitter)"
                rel="external"
                class="social-links__link {{ $input.linkClass }}">
                {{- partial "graphics/social/x.html" }}
            </a>
        </li>
    {{ end }}

    {{- if $input.facebookUrl }}
        <li role="presentation" class="social-links__menu-item">
            <a
                href="{{- $input.facebookUrl }}"
                role="menuitem"
                aria-label="Facebook"
                rel="external"
                class="social-links__link {{ $input.linkClass }}">
                {{- partial "graphics/social/facebook.html" }}
            </a>
        </li>
    {{ end }}

    {{- if $input.companyUrl }}
        <li role="presentation" class="social-links__menu-item">
            <a
                href="{{- $input.companyUrl }}"
                role="menuitem"
                aria-label="Company"
                rel="external"
                class="social-links__link {{ $input.linkClass }}">
                {{- partial "graphics/social/company.html" }}
            </a>
        </li>
    {{ end }}
</menu>
