{{ $input := . }}


<div class="speaker-card">
    <a class="speaker-card__link" href="{{ $input.profileUrl }}" aria-label="{{ $input.name }}">
        {{ with $input.avatarResource }}
            {{ with . | images.Filter (images.Process "resize 256x") }}
                <img
                    class="speaker-card__avatar"
                    src="{{ .RelPermalink }}"
                    alt="{{ $input.name }}"
                    width="{{ .Width }}"
                    height="{{ .Height }}" />
            {{- end }}
        {{- else }}
            {{- with resources.Get "images/shaped-image-fallback.webp" }}
                <img
                    class="speaker-card__avatar"
                    src="{{ .RelPermalink }}"
                    alt="{{ $input.name }}"
                    width="{{ .Width }}"
                    height="{{ .Height }}" />
            {{- end }}
        {{- end }}
        <h1 class="heading">{{ $input.name }}</h1>
        <p class="speaker-card__description">{{ $input.description }}</p>
    </a>
    <div class="speaker-card__social-links">
        {{ $ariaLabel := T "speakers_page.social_links" $input.name }}
        {{- $hasSocialLinks := or $input.linkedinUrl $input.xUrl $input.companyUrl }}

        {{- if $hasSocialLinks }}
            {{- partial "social-links.html" (
                dict
                "linkedinUrl" $input.linkedinUrl
                "xUrl" $input.xUrl
                "companyUrl" $input.companyUrl
                "linkClass" "speaker-card__social-link"
                "ariaLabel" $ariaLabel
                )
            }}
        {{- end }}
    </div>
</div>
