{{ $input := . }}


<article class="speaker-avatar-container">
    {{- partial "shaped-image.html" (
        dict
        "imageResource" $input.avatarResource
        "imageAlt" $input.avatarAlt
        )
    }}

    {{- if (or $input.linkedinUrl $input.xUrl $input.companyUrl) }}
    {{ $uniqueLabelId := printf "social-links-list-label-%s" $input.avatarAlt }}
    {{ $ariaLabel := T "speakers_page.social_links" $input.avatarAlt }}

        {{- partial "social-links.html" (
            dict
            "linkedinUrl" $input.linkedinUrl
            "xUrl" $input.xUrl
            "companyUrl" $input.companyUrl
            "linkClass" "speaker-avatar-container__social-link"
            "uniqueId" $uniqueLabelId
            "ariaLabel" $ariaLabel
            )
        }}
    {{- end }}
</article>
