{{- define "main" }}
  {{- partial "sections/event-title.html"
    (dict
    "title" .Site.Params.themes.event.title
    "location" .Site.Params.themes.event.location
    "startDate" .Site.Params.themes.event.startDate
    "backgroundImage" .Site.Params.themes.event.images.eventTitleBackground
    "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
    "ctaUrl" .Site.Params.themes.event.callToAction.other.url
    )
  }}


  <h2>{{ T "header_featured_speakers" }}</h2>
  {{ partial "featured-speakers.html" . }}


  <h2>Location</h2>

  <address>
    {{ .Site.Params.themes.event.address.row1 }} <br />
    {{ .Site.Params.themes.event.address.row2 }} <br />
    {{ .Site.Params.themes.event.address.row3 }} <br />
    {{ .Site.Params.themes.event.address.row4 }}
  </address>

  {{- if .Site.Params.themes.event.map.embeddableMapUrl }}
    {{ partial "map-embedding.html" (dict "embeddableMapUrl" .Site.Params.themes.event.map.embeddableMapUrl "viewLargerMapUrl" .Site.Params.themes.event.map.viewLargerMapUrl) }}
  {{- end }}

{{- end }}
