{{- define "main" }}
  {{- partial "sections/home/event-title.html"
    (dict
    "title" .Site.Params.themes.event.title
    "location" .Site.Params.themes.event.location
    "startDate" .Site.Params.themes.event.startDate
    "backgroundImage" .Site.Params.themes.event.images.eventTitleBackground
    "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
    "ctaUrl" .Site.Params.themes.event.callToAction.other.url
    )
  }}

  {{ partial "sections/home/event-highlights.html" (
    dict
    "title" .Site.Params.themes.event.title
    "subtitle" .Site.Params.themes.event.slogan
    "description" .Site.Params.themes.event.description
    "logo" .Site.Params.themes.event.logo
    )
  }}

  {{ partial "sections/home/featured-speakers.html" . }}
{{- end }}
