.event-row {
    all: unset;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: 0.125rem solid var(--color-primary);
    cursor: pointer;
    transition:
        outline 0.3s ease,
        box-shadow 0.3s ease;
    outline: 0 solid transparent;
}

.event-row:hover {
    outline: 0.0625rem solid var(--color-primary);
    box-shadow: 0 0.0625rem 0.1875rem 0 var(--color-shadow);
}

@media (width <= 576px) {
    .event-row {
        flex-direction: column;
    }
}

.event-row--service-session {
    cursor: unset;

    .event-row__room,
    .event-row__speakers,
    .event-row__avatars {
        display: none;
    }
}

.event-row--service-session:hover {
    outline: 0 solid transparent;
    box-shadow: none;
}

.event-row__track {
    margin: 0;
    width: 25%;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-track);
    flex-shrink: 0;
}

.event-row__left {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
}

.event-row__right {
    display: flex;
    flex-shrink: 4;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 0.5rem;
    text-decoration: none;
}

.event-row__title {
    all: unset;
    font-size: 1.125rem;
    font-weight: 600;
}

.event-row__room,
.event-row__speakers {
    all: unset;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secondary-darker);
}

.event-row__speakers > span:not(:last-child)::after {
    content: ', ';
}

.event-row__avatars {
    all: unset;
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;
}

.event-row__avatar-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.event-row__categories {
    color: var(--color-secondary-darker);
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: end;
}

.event-row__category {
    text-align: center;
}
