.highlight-figure {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16.875rem;
    gap: 2rem;
    position: relative;
}

.highlight-figure__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.highlight-figure__image {
    width: 6.25rem;
    height: 6.25rem;
    box-sizing: border-box;
    background-color: var(--color-primary);
    border-radius: 1.25rem;
    padding: 1.75rem;
}

.highlight-figure__caption {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

/* Create the dashed line between images */
.highlight-figure__image-wrapper::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the line vertically relative to the image */
    left: 100%; /* Position to the right of the image */
    width: 6rem; /* Length of the dashed line */
    border-top: 2px dashed var(--color-primary); /* Dashed line */
    transform: translateX(50%); /* Center the line horizontally */
}

/* Hide the dashed line for the last item */
.highlight-figure:last-of-type .highlight-figure__image-wrapper::after {
    display: none;
}

@media (width <= 1250px) {
    .highlight-figure__image-wrapper::after {
        display: none;
    }
}
