.shaped-image {
    position: relative;
    aspect-ratio: 0.7612612613;
    width: 100%;
}

.shaped-image__figure {
    all: unset;
    display: block;
    width: 20%;
}

.shaped-image__figure > svg {
    fill: var(--color-primary);
}

.shaped-image__image {
    position: absolute;
    left: 10%;
    width: 90%;
    height: calc(100% - (10% * 0.7612612613));
    top: calc(10% * 0.7612612613);
    border-radius: 0 3.125rem;
    object-fit: cover;
}

.shaped-image__image--no-dotted-square {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
