.speaker-avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6875rem;
    font-size: 1.125rem;
    color: var(--color-primary); /* Colors the dotted shape */
}

.speaker-avatar-container__social-link {
    color: var(--color-primary);
    font-size: 1.125rem;
    padding: 0.25rem;
    opacity: 0.5;
    transition: border 0.3s ease;
    position: relative;
}

.speaker-avatar-container__social-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    transition: border 0.3s ease;
}

.speaker-avatar-container__social-link:hover::before {
    background-color: var(--color-primary-lighter);
    opacity: 0.2;
}

.speaker-avatar-container__social-link:hover {
    opacity: 1;
}
