.speaker-card {
    width: 16.875rem;
    height: 19.9375rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-primary);
    box-shadow:
        0 0 0 0 var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);
    transition: box-shadow 0.3s ease;
}

.speaker-card:hover {
    box-shadow:
        0 0 0 0.1875rem var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);
}

.speaker-card__link {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 1.25rem;
    padding: 1.5625rem 1.625rem 0 1.625rem;
    cursor: pointer;
}

.speaker-card__avatar {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
}

.speaker-card__description {
    all: unset;
    font-size: 1rem;
    height: 2.75rem;
    line-height: 1.375rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-secondary-darker);
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.speaker-card__social-links {
    flex-shrink: 1;
    margin-bottom: 0.9375rem;
}

.speaker-card__social-link {
    color: var(--color-primary);
    font-size: 1.125rem;
    padding: 0.25rem;
    opacity: 0.5;
    transition: border 0.3s ease;
    position: relative;
}

.speaker-card__social-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    transition: border 0.3s ease;
}

.speaker-card__social-link:hover::before {
    background-color: var(--color-primary-lighter);
    opacity: 0.2;
}

.speaker-card__social-link:hover {
    opacity: 1;
}
