footer {
  height: 5.8125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer nav menu {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
}

footer nav menu li {
  flex-grow: 1;
}

footer nav menu a {
  font-weight: 500;
  color: var(--color-secondary-darker);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

#footer-start {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

#made-by {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  text-decoration: none;
}
