@property --color-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #afe10a;
}

@property --color-primary-darker {
  syntax: "<color>";
  inherits: true;
  initial-value: #015a57;
}

@property --color-primary-darkest {
  syntax: "<color>";
  inherits: true;
  initial-value: #111928;
}

@property --color-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #f7f8fa;
}

@property --color-secondary-darker {
  syntax: "<color>";
  inherits: true;
  initial-value: #637381;
}
