<noscript>
    <a href="https://www.eventbrite.com/e/{{ .eventId }}" rel="noopener noreferrer" rel="external">
        {{ T "cta_button.get_ticket" }}
    </a>
</noscript>

<button id="eventbrite-widget-modal-trigger" type="button" class="button button--outlined">
    {{ T "cta_button.get_ticket" }}
</button>

<script src="https://www.eventbrite.de/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
  window.EBWidgets.createWidget({
    widgetType: "checkout",
    eventId: "{{ .eventId }}",
    modal: true,
    modalTriggerElementId: "eventbrite-widget-modal-trigger",
  });
</script>
