{{ define "main" }}
    <section class="speaker-list">
        <div class="section">
            <h1 class="heading heading--1">{{ T "speakers_page.heading" }}</h1>
            <menu class="speaker-list__menu">
                {{ range .Pages.GroupByParam "lastName" }}
                    {{ range .Pages.ByParam "firstName" }}
                        <li class="speaker-list__item">
                            {{- partial "speaker-card.html" (
                                dict
                                "profileUrl" .RelPermalink
                                "avatarResource" (.Resources.GetMatch "avatar.*")
                                "name" .Title
                                "description" .Params.tagLine
                                "linkedinUrl" .Params.linkedinUrl
                                "xUrl" .Params.xUrl
                                "companyUrl" .Params.company
                                )
                            }}
                        </li>
                    {{ end }}
                {{ end }}
            </menu>
        </div>
    </section>

    {{- partial "sections/cta.html" (
        dict
        "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
        "ctaUrl" .Site.Params.themes.event.callToAction.other.url
        )
    }}
{{ end }}
