{{ define "main" }}
    <div class="section-container">
        <section class="section single-speaker-section">
            <div class="single-speaker-section__avatar">
                {{ $ariaLabel := T "speakers_page.social_links" page.Title }}

                {{- partial "speaker-avatar.html" (
                    dict
                    "avatarResource" (.Resources.GetMatch "avatar.*")
                    "avatarAlt" page.Title
                    "linkedinUrl" page.Params.linkedinUrl
                    "xUrl" page.Params.xUrl
                    "companyUrl" page.Params.company
                    "ariaLabel" $ariaLabel
                    )
                }}
            </div>

            <div class="single-speaker-section__biography">
                {{- partial "speaker-biography.html" (
                    dict
                    "speakerName" page.Title
                    "speakerSlogan" page.Params.tagLine
                    "speakerBiography" page.RawContent
                    )
                }}
            </div>
        </section>

        {{- $speakerSessions := slice }}
        {{ range where .Site.RegularPages "Section" "sessions" }}
            {{ if in .Params.speakerIds page.Params.speakerId }}
                {{- $speakerSessions = $speakerSessions | append (
                    dict
                    "title" .Title
                    "track" .Params.track
                    "startsAt" .Params.startsAt
                    "room" .Params.room.name
                    "sessionUrl" .RelPermalink
                    )
                }}
            {{ end }}
        {{ end }}


        <div class="section-container section-container--dimmed">
            <section class="section speaker-sessions-section">
                <h1 class="h1 speaker-sessions-section__heading">
                    {{- T "speaker_page.sessions_by" | upper }}
                    <span class="speaker-sessions-section__hashtag">
                        {{- partial "elements/hashtag.html" (dict "hashtag" page.Title) }}
                    </span>
                </h1>
                {{- partial "sessions-menu.html" (
                    dict
                    "title" page.Title
                    "sessions" $speakerSessions
                    )
                }}
            </section>
        </div>

        {{- partial "sections/cta.html" (
            dict
            "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
            "ctaUrl" .Site.Params.themes.event.callToAction.other.url
            )
        }}
    </div>
{{ end }}
