{{ define "main" }}
  <style>
    div.single-speaker {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2.375rem 0;
    }

    div.single-speaker-content {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 2.625rem;
    }

    div.single-speaker-biography {
      flex-grow: 1;
    }
  </style>

  <div class="single-speaker">
    <div class="theme-content single-speaker-content">
      <div class="single-speaker-avatar">
        {{- partial "speaker-avatar.html" (
          dict
          "avatarResource" (.Resources.GetMatch "avatar.*")
          "avatarAlt" page.Title
          "linkedinUrl" page.Params.linkedinUrl
          "xUrl" page.Params.xUrl
          "companyUrl" page.Params.company
          )
        }}
      </div>

      <div class="single-speaker-biography">
        {{- partial "speaker-biography.html" (
          dict
          "speakerName" page.Title
          "speakerSlogan" page.Params.tagLine
          "speakerBiography" page.RawContent
          )
        }}
      </div>
    </div>
  </div>

  {{- $speakerSessions := slice }}
  {{ range where .Site.RegularPages "Section" "sessions" }}
    {{ if in .Params.speakerIds page.Params.speakerId }}
      {{- $speakerSessions = $speakerSessions | append (
        dict
        "title" .Title
        "track" .Params.track
        "startsAt" .Params.startsAt
        "room" .Params.room.name
        "sessionUrl" .Permalink
        )
      }}
    {{ end }}
  {{ end }}
  {{- partial "speaker-sessions.html" (
    dict
    "speakerName" page.Title
    "speakerSessions" $speakerSessions
    )
  }}

  {{- partial "sections/cta.html" (
    dict
    "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
    "ctaUrl" .Site.Params.themes.event.callToAction.other.url
    )
  }}
{{ end }}
