.h1,
.heading {
  all: unset;
  display: block;
  font-weight: 700;
}

.h1, /* TODO: Replace and remove. */
.heading--1 {
  font-size: 3rem;
  line-height: 3.625rem;
  margin-bottom: 1.75rem;
}

.heading--2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 2.875rem;
}

.heading--3 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin-bottom: 3.125rem;
}
