.heading {
    all: unset;
    display: block;
    font-weight: 700;
    text-wrap: wrap;
    word-wrap: break-word;
}

.heading--1 {
    font-size: 3rem;
    line-height: 3.625rem;
    margin-bottom: 1.75rem;
}

@media screen and (width < 768px) {
    .heading--1 {
        margin-bottom: 2.8175rem;
    }
}

.heading--2 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 2.875rem;
}

.heading--3 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 3.125rem;
}

.heading--4 {
    font-size: 1.375rem;
    line-height: 2.5rem;
}

.heading--highlighted {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    color: var(--color-primary);
}

.heading--centered {
    display: block;
    width: 100%;
    text-align: center;
}

.heading--embedded {
    margin-bottom: 0;
}
