.select {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.825rem 2.5rem 0.825rem 1.25rem;
    border-radius: 6px;
    border: 0.0625rem solid #dfe4ea;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;

    background-color: white;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoCiAgICAgICAgZD0iTTIuNDE0NjkgNS41MzU1MUwyLjQxNDY3IDUuNTM1NTJMMi40MTc0OSA1LjUzODI4TDcuNzY3NDkgMTAuNzYzM0w4LjAwMTUgMTAuOTkxOEw4LjIzNDQyIDEwLjc2MjJMMTMuNTg0NCA1LjQ4NzE2TDEzLjU4NDQgNS40ODcxN0wxMy41ODYxIDUuNDg1NTFDMTMuNjgwOSA1LjM5MDY4IDEzLjgxOTkgNS4zOTA2OCAxMy45MTQ3IDUuNDg1NTFDMTQuMDA5MiA1LjU4MDA1IDE0LjAwOTUgNS43MTg0NiAxMy45MTU1IDUuODEzMjZDMTMuOTE1MiA1LjgxMzU0IDEzLjkxNSA1LjgxMzgyIDEzLjkxNDcgNS44MTQxTDguMTY2NzYgMTEuNDYyTDguMTY2NzYgMTEuNDYyTDguMTY0NjkgMTEuNDY0MUM4LjA2ODM4IDExLjU2MDQgOC4wMjM1MiAxMS41NjY1IDguMDAwMzkgMTEuNTY2NUM3Ljk0MTQ3IDExLjU2NjUgNy44OTA0MiAxMS41NTIgNy44MjA2NCAxMS40OTg5TDIuMDg1MjYgNS44NjMyN0MxLjk5MTI3IDUuNzY4NDYgMS45OTE1NCA1LjYzMDA1IDIuMDg2MDkgNS41MzU1MUMyLjE4MDkyIDUuNDQwNjggMi4zMTk4NiA1LjQ0MDY4IDIuNDE0NjkgNS41MzU1MVoiCiAgICAgICAgZmlsbD0iIzYzNzM4MSIgc3Ryb2tlPSIjNjM3MzgxIiBzdHJva2Utd2lkdGg9IjAuNjY2NjY3IiAvPgo8L3N2Zz4g');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    transition: box-shadow 0.3s ease;
}

.select:hover {
    box-shadow: 0 0 0 0.125rem #b0bec5;
}
